# gitignore
*.DS*

# Ignore the large folder which I use for testing at home
WhatsApp_Images\/*

# Do not save node_modules for cleanliness
node_modules/

# Ignore any cached photos
/tmp

# Ignore photo_list.txt for privacy things
photo_list.txt
